.App {
  text-align: center;
  padding: 10px;
}

.cartImage {
  width: 150px;
  position: absolute;
  right: 1%;
}

.cart-items {
  position: absolute;
  right: 10%;
  font-size: 3rem;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(98, 98, 231);
  border: 1px solid white;
  color: white;
  cursor: pointer;
  box-shadow: 4px 5px rgba(66, 66, 66, 0.452);
}

.cart {
  display: flex;
}

span {
  font-weight: bold;
  margin: 20px;
}

.text {
  margin: 10px;
}
